.home-panel {
  text-align: center;
  margin-top: 5rem;
  

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 2.4rem;

    @include respond(tab-land) {
      max-width: 80rem;
      margin: 0 auto;
    }

    @include respond(tab-port) {
      align-items: center;
      flex-direction: column;
    }
  }
}

.ui.buttons.home-panel__btn-group {
  margin-bottom: 5rem;
  overflow: hidden;
}

.ui.button.home-panel__btn-group__btn, .ui.button.home-panel__btn-group__or {
  font-size: 1.6rem;
  background-color: #ccc;
  color: #fff;

  &--active {
    background-color: var(--color-secondary); 
  }
}


