.navbar {
  width: 100%;
  transition: all .3s;
  background: #fff;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
  padding: .5rem 1.5rem .5rem 2.4rem;

  @include respond(tab-port) {
    padding: 1.8rem 2.4rem;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    @include respond(tab-port) {
      justify-content: flex-end;
    }
  }

  &__left {
    @include respond(tab-port) {
      display: none;
    }

    &-list {
      display: flex;
      align-items: center;
      justify-content: center;
  
      @include respond(phone) {
        flex-direction: column;
      }
  
      &__item {
  
        &:not(:last-child) a {
  
          @include respond(tab-port) {
            margin-right: 7px;
          }
        }
  
        & a {
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: 'Baloo 2', cursive;
          padding: 1.2rem .7rem;
          margin: 0 1.5rem;
          text-transform: capitalize;
          font-weight: 700;
          text-transform: uppercase;
          font-size: 1.6rem;
          opacity: .5;
          color: #777;
          letter-spacing: 1px;
          @include default-transition;

          & span {        
            margin-left: .8rem;
          }

          &:hover {
            opacity: .9;
          }

          @include respond(phone) {
            padding: 5px 0;
          }
        } 
      }
  
    }
  }

  &__right {
    @include respond(tab-port) {
      display: none;
    }

    &-list {
      display: flex;
      align-items: center;
      justify-content: center;

      @include respond(phone) {
        flex-direction: column;
      }

      &__item {
        display: flex;
        align-items: center;

        &:not(:last-child) a {

          @include respond(tab-port) {
            margin-right: 7px;
          }
        }

        &-img {
          width: 3.6rem;
          border-radius: 50%;
        }

        &-name {
          font-family: 'Baloo 2', cursive;
          font-weight: 700;
          display: block;
          padding: 0 1rem;
        }
      }
    } 
  }
}

.ui.button.navbar__right-list__item-logout {
  //Remove default styles
  color: var(--color-text-dark);
  padding: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-weight: 700;
  letter-spacing: 0;
  background-color: #eee;

  // Custom styles
  width: 4rem;
  height: 4rem;
  border-radius: 25rem;
  position: relative;
  margin-left: .7rem;

  &:hover {
    filter: brightness(0.95);
  }

  &__icon {
    position: absolute;
    color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }  
} 

.bars {
  display: none;
  color: var(--color-text-dark);

  @include respond(tab-port) {
    display: block;
    font-size: 2rem;
    cursor: pointer;
  }
}

.bars-userImg {
  display: none;

  @include respond(tab-port) {
    display: block;
    width: 3.6rem;
    border-radius: 50%;
    margin-right: 2rem;
  }
}

.sideNav {
  position: absolute;
  top: 5rem;
  right: 0;
  z-index: 9999;
  border: 1px solid #eee;
  border-radius: .5rem;
  overflow: hidden;
  padding: .7rem 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;

  &__item {
    width: 100%;

    & a {
      width: 100%;
      display: flex;
      align-items: center;
      font-family: 'Baloo 2', cursive;
      padding: 1.2rem 2.4rem;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.6rem;
      opacity: .5;
      color: #777;
      letter-spacing: 1px;
      @include default-transition;

      & span {        
        margin-left: .8rem;
      }

      &:hover {
        opacity: .9;
        cursor: pointer;
      }     
    } 
  }
}