.poll-answer {
  width: 38.4rem;
  margin: 5rem auto 0 auto;
  background-color: #fff;
  border-radius: 1rem;

  &__head {
    display: flex;
    align-items: center;
    gap: 1.7rem;
    padding: 2rem 4rem;

    &-img {
      border-radius: 50%;
      width: 4.8rem;
    }

    &-name {
      font-family: 'Baloo 2', cursive;
      font-size: 1.6rem;
      font-weight: 700;
    }
  }

  &__body {
    font-size: 1.6rem;
    text-align: left;
    padding: 0 4rem 2.5rem 4rem;

    &-title {
      font-family: 'Baloo 2', cursive;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    &-form {
    }

    &-result {
      &__question {
        font-size: 1.6rem;
      }

      &__score {
        text-align: center;
        font-size: 1.6rem;
        font-weight: 600;
        margin-top: -1.5rem;
        margin-bottom: 2rem;
      }
    }
  }
}

.ui.button.poll-answer__body-btn {
  margin-top: 1rem;
  font-size: 1.4rem;
  background-color: var(--color-primary);
  border-bottom: 4px solid var(--color-primary-dark);
  padding: 1.7rem 4.9rem;

  &:hover {
    color: #fff !important;
    background-color: var(--color-primary-light) !important;
    border-bottom-color: var(--color-primary);
  }

  &:active {
    background-color: var(--color-primary-light);
    color: #fff;
    border-color: transparent;
    transform: translateY(2px);
  }

  &:focus {
    color: #fff;
    background-color: var(--color-primary);
  }
}

.ui.button.poll-answer__body-result__btn {
  margin-top: 1rem;
  font-size: 1.4rem;
  background-color: var(--color-secondary);
  border-bottom: 4px solid var(--color-secondary-dark);
  padding: 1.7rem 4.9rem;

  &:hover {
    color: #fff !important;
    background-color: var(--color-secondary-light) !important;
    border-bottom-color: var(--color-secondary);
  }

  &:active {
    background-color: var(--color-secondary-light);
    color: #fff;
    border-color: transparent;
    transform: translateY(2px);
  }

  &:focus {
    color: #fff;
    background-color: var(--color-secondary);
  }
}

.ui.checkbox input[type='checkbox'],
.ui.checkbox input[type='radio'].poll-answer__body-form__option {
  display: block;
}
