.poll {
  width: 38.4rem;
  background-color: #eee;
  border-radius: 1rem;

  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  border: 1px solid rgba(34,36,38,.15);

  &__head {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem .5rem;

    &-left {
      width: 30%;

      &__img {
        border-radius: 50%;
        width: 4.8rem;
      }
    }
  
    &-right {
      width: 70%;
      text-align: left;

      &__name {
        font-size: 1.4rem;
        font-weight: 600;
  
      }
    }
  }

  &__body  {
    font-size: 1.6rem;
    text-align: left;
    padding: 0 4rem 2.5rem 4rem;

    &-title {
      font-size: inherit;
      font-weight: 600;
    }

    &-questions {
      font-size: inherit;
      line-height: 1.8;
    }   
  }
}

.ui.button.poll__body-btn {
  margin-top: 1rem;
}