// Select items
.ui.selection.dropdown .menu>.item  {
  font-size: 1.4rem;
  padding: 1.5rem 1.7rem !important;
}

.ui.button {
  font-sizE: 1.6rem;
}

.ui.form {
  font-size: 1.6rem;
}

.ui.message p {
  font-size: 1.4rem;
}

// Form

.ui.form .fields {
  flex-direction: column;
}

.ui.checkbox input.hidden+label {
  font-size: 1.6rem;
}