// Select items
.ui.selection.dropdown .menu > .item {
  font-size: 1.4rem;
  padding: 1.5rem 1.7rem !important;
}

.ui.button {
  font-family: 'Baloo 2', cursive;
  font-size: 1.6rem;
  color: #fff;
  padding: 2rem 6rem;
  border-radius: 1.8rem;
  border-bottom-left-radius: 1.6rem;
  border-bottom-right-radius: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  @include btn-transition;
}

.ui.form {
  font-size: 1.6rem;
}

.ui.message p {
  font-size: 1.4rem;
}

// Form

.ui.form .fields {
  flex-direction: column;
}

.ui.checkbox input.hidden + label {
  font-size: 1.6rem;
}

.ui.progress.success .bar {
  background-color: var(--color-primary) !important;
}
