:root {
  --color-primary: #58CC02;
  --color-primary-light: #5fdd02;
  --color-primary-dark: #49aa02;
  --color-primary-alt: #89E219;
  --color-secondary: #1CB0F6;
  --color-secondary-light: #3dbbf7;
  --color-secondary-dark: #09a0e7;
  --color-bg: #1c1e1f;
  --color-text-dark: #777;
}