:root {
  --color-primary: #58cc02;
  --color-primary-light: #5fdd02;
  --color-primary-dark: #49aa02;
  --color-primary-alt: #89e219;
  --color-secondary: #1cb0f6;
  --color-secondary-light: #3dbbf7;
  --color-secondary-dark: #09a0e7;
  --color-bg: #1c1e1f;
  --color-text-dark: #777;
}
