// Utility Classes
.p-section-s {
  padding: 50px 15px;
}

.p-section-m {
  padding: 75px 15px;
}

.p-section-l {
  padding: 100px 15px;
}

.shadow-xs {
  box-shadow: 0 5px 13px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.15);
}

.shadow-s {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.shadow-m {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.shadow-slim {
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  border: 1px solid rgba(34, 36, 38, 0.15);
}

.shadow-smooth {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.12);
}

.align-center {
  text-align: center;
}
