

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Utility Classes */

.align-center {
  text-align: center;
}


/* Components */

.nav {
  margin-bottom: 50px;
}

.login-form {
  max-width: 500px;
  margin: 0 auto;
}

.login-form__segment {
  padding: 50px;
  background-color: red;
}


.ui.segment .login-form__select {
  width: 100%;
}

